<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Welcome to LinzerLunch</title>
  </head>
  <body>
    <form action="algolia/upload.php" method="post">
      <!-- Displaying error message -->
      {% if error is defined %}
        <fieldset>
          <p class="error">{{ error }}<br>Please try again:</p>
        </fieldset>
      {% endif %}

      <fieldset>
        <label>Name des Restaurants:</label>
        <input type="text" name="name">
        <br/>
        <label>Name Bilderordner:</label>
        <input type="text" name="pictures">
        <br/>
        <label>Beschreibung:</label>
        <input type="text" name="description">
        <br/>
      </fieldset>

      <br/>
      <p>Adresse:</p>
      <fieldset>
        <label>Straße:</label>
        <input type="text" name="street">
        <br/>
        <label>PLZ:</label>
        <input type="text" name="zip">
        <br/>
        <label>Stadt:</label>
        <input type="text" name="city">
        <br/>
      </fieldset>

      <br/>
      <p>Öffnungszeiten:</p>
      <p>Falls über Mittag geschlossen: 1. Feld -> VM, 2. Feld -> NM - ansonsten nur 1. Feld ausfüllen</p>
      <fieldset>
        <label>Montag:</label>
        <input type="text" name="mon">
        <br/>
        <label>Dienstag:</label>
        <input type="text" name="tue">
        <br/>
        <label>Mittwoch:</label>
        <input type="text" name="wed">
        <br/>
        <label>Donnerstag:</label>
        <input type="text" name="thu">
        <br/>
        <label>Freitag:</label>
        <input type="text" name="fri">
        <br/>
        <label>Samstag:</label>
        <input type="text" name="sat">
        <br/>
        <label>Sonntag:</label>
        <input type="text" name="sun">
        <br/>

        <!--<label>Montag:</label><br/>
        <input type="time" name="mon1vm">
        <input type="time" name="mon2vm">
        <br/>
        <input type="time" name="mon1nm">
        <input type="time" name="mon2nm">
        <br/>
        <label>Dienstag:</label><br/>
        <input type="time" name="tue1vm">
        <input type="time" name="tue2vm">
        <br/>
        <input type="time" name="tue1nm">
        <input type="time" name="tue2nm">
        <br/>
        <label>Mittwoch:</label><br/>
        <input type="time" name="wed1vm">
        <input type="time" name="wed2vm">
        <br/>
        <input type="time" name="wed1nm">
        <input type="time" name="wed2nm">
        <br/>
        <label>Donnerstag:</label><br/>
        <input type="time" name="thu1vm">
        <input type="time" name="thu2vm">
        <br/>
        <input type="time" name="thu1nm">
        <input type="time" name="thu2nm">
        <br/>
        <label>Freitag:</label><br/>
        <input type="time" name="fri1vm">
        <input type="time" name="fri2vm">
        <br/>
        <input type="time" name="fri1nm">
        <input type="time" name="fri2nm">
        <br/>
        <label>Samstag:</label><br/>
        <input type="time" name="sat1vm">
        <input type="time" name="sat2vm">
        <br/>
        <input type="time" name="sat1nm">
        <input type="time" name="sat2nm">
        <br/>
        <label>Sonntag:</label><br/>
        <input type="time" name="sun1vm">
        <input type="time" name="sun2vm">
        <br/>
        <input type="time" name="sun1nm">
        <input type="time" name="sun2nm">
        <br/> -->
      </fieldset>

      <br/>
      <p>Kontakt:</p>
      <fieldset>
        <label>Website:</label>
        <input type="url" name="web"/>
        <br/>
        <label>Link zur Speisekarte:</label>
        <input type="url" name="menu"/>
        <br/>
        <label>E-Mail</label>
        <input type="email" name="email"/>
        <br/>
        <label>Telefonnummer:</label>
        <input type="tel" name="phone"/>
        <br/>
      </fieldset>

      <br/>
      <p>Kategorie:</p>
      <fieldset>
        <input type="checkbox" name="restaurant" value="restaurant"/>
        <label>Restaurant</label>
        <input type="checkbox" name="cafe" value="cafe"/>
        <label>Cafe</label>
        <input type="checkbox" name="bar" value="bar"/>
        <label>Bar</label>
      </fieldset>

      <br/>
      <p>Information:</p>
      <fieldset>
        <input type="checkbox" name="wifi" value="wifi"/>
        <label>WLAN</label>
        <input type="checkbox" name="nonSmoker" value="nonSmoker"/>
        <label>Nichtraucher</label>
        <input type="checkbox" name="smoker" value="smoker"/>
        <label>Raucher</label>
        <input type="checkbox" name="veggie" value="veggie"/>
        <label>Vegetarisch</label>
        <input type="checkbox" name="vegan" value="vegan"/>
        <label>Vegan</label>
        <input type="checkbox" name="breakfast" value="breakfast"/>
        <label>Frühstück</label>
        <input type="checkbox" name="glutenFree" value="glutenFree"/>
        <label>Glutenfrei</label>
        <input type="checkbox" name="delivery" value="delivery"/>
        <label>Lieferservice</label>
        <input type="checkbox" name="lunch" value="lunch"/>
        <label>Mittagsmenü</label>
        <input type="checkbox" name="garden" value="garden"/>
        <label>Gastgarten</label>
      </fieldset>

      <br/>
      <button type="submit" name="submit" id="submit">ADD RESTAURANT</button>
    </form>
  </body>
