<div id="checkicons" class="col-12">
  <img id="iconWifi" class="foodicons" src="images/icons/foodicons/wifi.png" alt="Icon for Restaurant" width="150">
  <img id="iconNonSmoker" class="foodicons" src="images/icons/foodicons/nonSmoker.png" alt="Icon for Restaurant" width="150">
  <img id="iconSmoker" class="foodicons" src="images/icons/foodicons/smoker.png" alt="Icon for Restaurant" width="150">
  <img id="iconVegiie" class="foodicons" src="images/icons/foodicons/veggie.png" alt="Icon for Restaurant" width="150">
  <img id="iconBreakfast" class="foodicons" src="images/icons/foodicons/breakfast.png" alt="Icon for Restaurant" width="150">
  <img id="iconVegan" class="foodicons" src="images/icons/foodicons/vegan.png" alt="Icon for Restaurant" width="150">
  <img id="iconGlutenfree" class="foodicons" src="images/icons/foodicons/glutenfree2.png" alt="Icon for Restaurant" width="150">
  <img id="iconDelivery" class="foodicons" src="images/icons/foodicons/delivery.png" alt="Icon for Restaurant" width="150">
  <img id="iconLunch" class="foodicons" src="images/icons/foodicons/lunch.png" alt="Icon for Restaurant" width="150">

<!--  <a href="venuelist.php" class="offset-5 col-1 align-middle navbarLink"><img id="iconArrow" class="foodicons" src="images/icons/foodicons/arrow.png" alt="Icon for Restaurant" width="150"></a> -->

</div>
