<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <!--Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Yesteryear" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--Cordova-->
    <link rel="manifest" href="../manifest.json">

    <!--Algolia-->
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.3/dist/instantsearch.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch-helper@2.26.0/dist/algoliasearch.helper.min.js"></script>
    <script src="algolia/search.js"></script>
    <script src="algolia/textSearch.js"></script>

    <!--Javascript-->
    <script type="text/javascript" src="{{'js/numbercounter.js'}}"></script>
    <script src="js/loadPage.js"></script>

    <!--CSS-->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/chooseType.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/venue.css">
    <link rel="stylesheet" href="css/imagegallery.css">
    <link rel="stylesheet" href="css/venuelist.css">
    <link rel="stylesheet" href="css/search.css">

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,900" rel="stylesheet">

    <!-- Favicon -->
    <!-- <link rel="apple-touch-icon" sizes="57x57" href="fav.ico/apple-icon-57x57.png"> <link rel="apple-touch-icon" sizes="60x60" href="fav.ico/apple-icon-60x60.png"> <link rel="apple-touch-icon" sizes="72x72" href="fav.ico/apple-icon-72x72.png"> <link
    rel="apple-touch-icon" sizes="76x76" href="fav.ico/apple-icon-76x76.png"> <link rel="apple-touch-icon" sizes="114x114" href="fav.ico/apple-icon-114x114.png"> <link rel="apple-touch-icon" sizes="120x120" href="fav.ico/apple-icon-120x120.png"> <link
    rel="apple-touch-icon" sizes="144x144" href="fav.ico/apple-icon-144x144.png"> <link rel="apple-touch-icon" sizes="152x152" href="fav.ico/apple-icon-152x152.png"> <link rel="apple-touch-icon" sizes="180x180" href="fav.ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="fav.ico/android-icon-192x192.png"> <link rel="icon" type="image/png" sizes="32x32" href="fav.ico/favicon-32x32.png"> <link rel="icon" type="image/png" sizes="96x96"
    href="fav.ico/favicon-96x96.png"> <link rel="icon" type="image/png" sizes="16x16" href="fav.ico/favicon-16x16.png"> <link rel="manifest" href="fav.ico/manifest.json"> <meta name="msapplication-TileColor" content="#ffffff"> <meta
    name="msapplication-TileImage" content="/ms-icon-144x144.png"> <meta name="theme-color" content="#ffffff"> -->

    <title>LinzerLunch</title>
  </head>
