<section id="chooseType" class="row">
  <div class="small"></div>
  <h3 class="offset-3 col-6">Jetzt das perfekte Lokal finden!</h3>

  <h6 class="offset-4 col-4">Schnell und einfach aus 20 Lokalen wählen!</h6>

  <div id="iconRestaurant" class="col-12 row">
    <div class="col-4">
      <input type="radio" name="category" value="restaurant" id="restaurant"/>
      <label for="restaurant">
        <img id="iconRes" src="images/icons/resgoldy.png" alt="Icon for Restaurant" width="150">
      </label>
    </div>
    <div class="col-4">
      <input type="radio" name="category" value="cafe" id="cafe"/>
      <label for="cafe">
        <img id="iconCaf" src="images/icons/cafegoldy.png" alt="Icon for Café" width="150">
      </label>
    </div>
    <div class="col-4">
      <input type="radio" name="category" value="bar" id="bar"/>
      <label for="bar">
        <img id="iconBar" src="images/icons/bargoldy.png" alt="Icon for Bar" width="150">
      </label>
    </div>
  </div>

  <div id="checkicons" class="col-12">

    <input type="checkbox" name="info" value="wifi"/>
    <label for="wifi">
      <img id="iconWifi" class="foodicons" src="images/icons/foodicons/wifi.png" alt="Icon for Restaurant" width="150">
    </label>

    <input type="checkbox" name="info" value="nonSmoker"/>
    <label for="nonSmoker">
      <img id="iconNonSmoker" class="foodicons" src="images/icons/foodicons/nonSmoker.png" alt="Icon for Restaurant" width="150">
    </label>

    <input type="checkbox" name="info" value="smoker"/>
    <label for="smoker">
      <img id="iconSmoker" class="foodicons" src="images/icons/foodicons/smoker.png" alt="Icon for Restaurant" width="150">
    </label>

    <input type="checkbox" name="info" value="veggie"/>
    <label for="veggie">
      <img id="iconVeggie" class="foodicons" src="images/icons/foodicons/veggie.png" alt="Icon for Restaurant" width="150">
    </label>

    <input type="checkbox" name="info" value="vegan"/>
    <label for="vegan">
      <img id="iconVegan" class="foodicons" src="images/icons/foodicons/vegan.png" alt="Icon for Restaurant" width="150">
    </label>

    <input type="checkbox" name="info" value="breakfast"/>
    <label for="breakfast">
      <img id="iconBreakfast" class="foodicons" src="images/icons/foodicons/breakfast.png" alt="Icon for Restaurant" width="150">
    </label>

    <input type="checkbox" name="info" value="glutenFree"/>
    <label for="glutenFree">
      <img id="iconGlutenfree" class="foodicons" src="images/icons/foodicons/glutenfree2.png" alt="Icon for Restaurant" width="150">
    </label>

    <input type="checkbox" name="info" value="delivery"/>
    <label for="delivery">
      <img id="iconDelivery" class="foodicons" src="images/icons/foodicons/delivery.png" alt="Icon for Restaurant" width="150">
    </label>

    <input type="checkbox" name="info" value="lunch"/>
    <label for="lunch">
      <img id="iconLunch" class="foodicons" src="images/icons/foodicons/lunch.png" alt="Icon for Restaurant" width="150">
    </label>

    <!-- <a href="venuelist.php" class="offset-5 col-1 align-middle navbarLink"><img id="iconArrow" class="foodicons" src="images/icons/foodicons/arrow.png" alt="Icon for Restaurant" width="150"></a> -->

  </div>

</section>
