<head>
  {% include 'head.twig'%}
</head>

<body>
  <header>

    <div id="navbar" class="col-lg-12 ">

      <!--
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
          <div class="mag-line"></div>
          <button class="btn btn-default" type="submit">Go!</button>
        </div>
      </form>-->

      <!-- Include Here -->
      <a href="#restaurantSearch" class="col-2 align-middle navbarLink" style="color:#fccda0;">Nach bestimmtem Restaurant suchen?</a>
      <a href="index.php" class="offset-2 col-1 align-middle navbarLink"><img src="images/LogoLLgoldig.png" height="40px"></a>
      <a href="#about" class="offset-3 col-1 align-middle navbarLink" style="color:#fccda0;">Wer sind wir?</a>
      <a href="venue.php" class="col-1 align-middle navbarLink" style="color:#fccda0;">Lass dich überraschen.</a>
    </div>
    <div id="marginTop">
      <div class="layer row" id="backgroundIMG">
        <img src="images/LogoLLgoldig.png" id="headerLogo">
      </div>
      <h3 id="vonlinzern" class="offset-3 col-6">Von LINZERN - für LINZER</h3>

    </div>

  </header>

  <!-- Start About Section -->

  <section id="about" class="row">

    <h3 id="wirsind" class="offset-3 col-5">Was ist Linzer Lunch?</h3>
    <h5 class="offset-4 col-4">Das neue Linzer Restaurant-Portal!</h5>

    <p id="description">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
      takimata sanctus est Lorem ipsum dolor sit amet.
    </p>

    <h5>Momentan habt ihr die Auswahl aus ...
    </h5>
    <p><br/><br/></p>

<!--old counter without onScroll Function -->
  <!--  <ul class="counters">
      <div class="columns">
        <div class="column col-lg-4">
          <li class="counter">
            <h2 class="timer count-title count-number counter-number" data-to="20" data-speed="1500"></h2>
            <span class="counter-name">Bars</span>
          </li>
        </div>
        <div class="column col-lg-4">
          <li class="counter">
            <h2 class="timer count-title count-number counter-number" data-to="37" data-speed="1500"></h2>
            <span class="counter-name">Cafés</span>

          </li>
        </div>
        <div class="column col-lg-4">
          <li class="counter">
            <h2 class="timer count-title count-number counter-number" data-to="59" data-speed="1500"></h2>
            <span class="counter-name">Restaurants</span>
          </li>
        </div>
      </div>
    </ul>-->

    <ul class="counters">
      <div class="columns">
        <div class="column col-lg-4">
          <li class="counter">
            <h2 class="timer count-title count-number counter-number" id="firstCounter"  data-speed="1500">0</h2>
            <span class="counter-name">Bars</span>
          </li>
        </div>
        <div class="column col-lg-4">
          <li class="counter">
            <h2 class="timer count-title count-number counter-number" id="secondCounter"  data-speed="1500">0</h2>
            <span class="counter-name">Cafés</span>

          </li>
        </div>
        <div class="column col-lg-4">
          <li class="counter">
            <h2 class="timer count-title count-number counter-number" id="thirdCounter"  data-speed="1500">0</h2>
            <span class="counter-name">Restaurants</span>
          </li>
        </div>
      </div>
    </ul>

    <!-- Start Restaurant Countup -->

    <!-- THIS IS THE PEN INCLUDED HERE! https://codepen.io/SeanWhelan/pen/bErZYo -->

    <!-- <div class="container"> <div class="row"> <div class="col-md-4" > <h1><span class="counter">120</span></h1> <h3>Restaurants</h3> <i class="fa fa-users"></i> </div> <div class="col-md-4"> <h1><span class="counter">80</span></h1> <h3>Bars</h3> <i
    class="fa fa-desktop"></i> <span class="glyphicon glyphicon-glass"></span> </div> <div class="col-md-4"> <h1><span class="counter">210</span></h1> <h3>Cafés</h3> <i class="fa fa-coffee"></i> </div> </div> </div>-->

  </section>

  <!-- -------------------------------- -->
  <!-- Start First Parallax Section -->

  <!-- in KEINE Section einbinden sonst funktionierts nicht schön über die ganze Länge! -->
  <div class="parallax1"></div>

  {% include 'icons.twig'%}

  <!-- Algolia Search -->
  <!--<div class="row"></div>-->
  {% include 'search.twig'%}
  {% include 'random.twig'%}

  <!-- -------------------------------- -->
  <!-- Start Second Parallax Section - wollten ja irgendwie noch nen dritten Bereich -->

  <!-- in KEINE Section einbinden sonst funktionierts nicht schön über die ganze Länge! -->
  <div class="parallax2"></div>

  <!-- -------------------------------- -->

  <!-- Falls wir noch eine dritte Section brauchen hab ich gleich hier n Parralax dafür und den Section Placeholder -->

  <section id="restaurantSearch" class="row">

    <h3 id="wirsind" class="offset-3 col-5"><br><br>Nach einem bestimmten Restaurant suchen:</h3>

    <p id="description">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
    </p>

    <!-- Algolia Search -->
    {% include 'textSearch.twig'%}

  </section>

  <footer>
    <div class="offset-2 col-8 align-middle  ">
      <p id="footerText">
        &copy; by Magdalena Geissbauer, Birgit Haselmayr, Andrea Maderthancer &amp; Natascha Rammelmüller
        <br>
        A project from FH Hagenberg - Media Technology and Design
        <a href="https://www.fh-ooe.at">www.fh-ooe.at</a>
      </p>
    </div>
  </footer>
</body>
