{% include 'head.twig' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LinzerLunch</title>
</head>
<body>
<header class="header">
<image src="/Applications/XAMPP/xamppfiles/htdocs/LinzerLunch/Designstuff/LOGO/logo.png">
</header>

</body>
</html>
