{% include 'head.twig' %}

<title>LinzerLunch</title>
</head>

<body>
<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">
      <img src="logo.png" id="logo" alt="logo" width="50" height"50">
      </a>
    </div>
    <div class="navbar-collapse collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right ">
        <li><a href="#">ABOUT</a></li>
        <!-- <li><a href="#">CONTACT</a></li> -->
      </ul>
    </div>
  </div>
</nav>

<div class="container" id="first">
  <ul type="button" class="firstrowbuttons">
    <li><a href="#"> ALL </a></li>
    <li><a href="#"> INSPIRE ME </a></li>
    <li><a href="#"> FILTERN </a></li>
    </ul>
  </button>
</div>



<!-- First Container -->
<!--
<div class="container-fluid bg-1 text-center">
  <h1 class="margin linz">Linzer Lunch</h3>
  <!--
  <img src="bird.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
-->
  <h3>Restaurantsuche leicht gemacht!</h3>
</div> -->


<!-- Second Container (Grid) -->
<!--
<div class="container-fluid bg-3 text-center">
  <h3 class="margin">What ist Linzer Lunch?</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div> -->


<!-- Third Container -->
<!--
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">Überrasche mich!</h3>
  <p>Wir empfehlen dir ein Restaurant in deiner Umgebung welches dir gefallen könnte.</p>
  <a href="#" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> Inspire me
  </a>
</div>

<!-- Fourth Container -->
<div class="container bg-3 text-center" style="padding-top:140px; padding-bottom:140px;">
  <div class="row">
  <h3 class="margin">Einfach und bequem dein Restaurant finden.</h3>
  <div><p>Worauf hast du Lust?</p>
  </div>
  </div>
  <div class="row">
    <a href="#" class="btn btn-primary btn-lg">
      <span class="glyphicon glyphicon-grain"></span>
    </a>
  <a href="#" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-cutlery"></span>
  </a>
  <a href="#" class="btn btn-primary btn-lg">
    <span class="glyphicon glyphicon-glass"></span>
  </a>
</div>
</div> -->



<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>A project from FH Hagenberg - Media Technology and Design <a href="https://www.fh-ooe.at">www.fh-ooe.at</a></p>
</footer>

</body>



<!--
<body>



<div class="container">
    <div class="row">
        <div class="space col-12"></div>
    </div>
</div>

<header>


    <div>
        <div class="text offset-lg-2 col-lg-7 offset-lg-2 offset-md-2 col-md-9 offset-md-1 offset-sm-3 col-sm-8 offset-sm-1">

            <h1>Linzer Lunch</h1>
            <p class="explanation">
                Finde dein passendes Restaurant! Mit ein paar Klicks zum Ziel!
            </p>
            <a class="link" href="about.php">ABOUT</a>
        </div>
    </div>
</header>

<main>
    <p class="offset-2 col-8">
        Suche jetzt dein Restaurant!
    </p>
</main>
-->
</body>
