<head>

  {% include 'head.twig'%}
  <!-- <style> {{source('style.css')}} </style> <style> @import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900|Cabin:400,700|Droid+Serif:400,700|Playball'); </style> -->

</head>

<body>

  <!-- Start of the Header: Navigation Bar, Logo - Navbar Right Aligned & Fixed at the Top so that its always there when scrolling -->
  <header>
    <div class="container">
      <!--Navigation -- <div class="nav-holder"> <!-->
      <div class="container-fluid" id="navbar">
        <div class="coll-1">
          <img src="images/LogoLLgoldig.png" alt="logo" height="50" id="logoNavbar">
      </div>
      <div class="col-3">
        <a href="about.php">About</a>
        <a href="contact.php">Contact</a>
        <a href="#">&nbsp;</a>
      </div>

    </div>
  </div>

</header>

<div class="content full-height hero-content">
  <div class="hero-title-holder">
    <!--<div class="overlay"></div>-->
    <div class="hero-title">
      <!-- <h3 id="linzerlunchtitle">Linzer Lunch</h3> -->
      <img src="images/LogoLLgoldig.png" alt="Logo" height="50%" id="logoIndex">
      <h4 id="vonLinzern">Von Linzern für Linzer</h4>
    </div>
    <div class="hero-link" id="arrowDown">
      <a class="custom-scroll-link" href="#sec1">
        <i class="fa fa-angle-double-down"></i>
      </a>
    </div>
  </div>
</div>

<em><br><br><br></em>

<!-- First Container 2nd Try -->
<!--=============== Restaurantsuche ===============-->

<div id="exclusionContainer" class="container col-12">
  <section class="about-section" id="sec1">
    <div class="container">
      <div class="row">
        <!--about text-->
        <div class="section-title">
          <h3>Jetzt dein ideales Restaurant finden!</h3>
          <!-- Counter hier einbinden! -->
          <h4 class="decor-title">Schnell und einfach aus 20 Lokalen wählen!</h4>
        </div>
        <p>Worauf hast du Lust?</p>
        <div class="row">
          <div class="icon">
            <img id="iconRes" src="images/icons/LLRes.png" alt="Icon for Restaurant" width="150">
            <img id="iconCaf" src="images/icons/LLCafe.png" alt="Icon for Café" width="150">
            <img id="iconBar" src="images/icons/LLBar.png" alt="Icon for Bar" width="150">

            <!-- <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo"> <span class="glyphicon glyphicon-search"></span> Restaurant </button> <div id="demo" class="collapse"> Lorem ipsum dolor text.... </div> <button type="button"
            class="btn btn-info" data-toggle="collapse2" data-target="#demo2"> <span class="glyphicon glyphicon-glass"></span> Bar </button> <div id="demo2" class="collapse2"> Lorem ipsum dolor text.... </div> -->
          </div>
          <div id="checkicons" class="offset-3">
            <img id="iconWifi" class="foodicons" src="images/icons/foodicons/wifi.png" alt="Icon for Restaurant">
            <img id="iconWifi" class="foodicons" src="images/icons/foodicons/nonSmoker.png" alt="Icon for Restaurant">
            <img id="iconWifi" class="foodicons" src="images/icons/foodicons/smoker.png" alt="Icon for Restaurant">
            <img id="iconWifi" class="foodicons" src="images/icons/foodicons/veggie.png" alt="Icon for Restaurant">
            <img id="iconWifi" class="foodicons" src="images/icons/foodicons/breakfast.png" alt="Icon for Restaurant">
            <br>
            <img id="iconWifi" class="foodicons" src="images/icons/foodicons/vegan.png" alt="Icon for Restaurant">
            <img id="iconWifi" class="foodicons" src="images/icons/foodicons/glutenfree2.png" alt="Icon for Restaurant">
            <img id="iconWifi" class="foodicons" src="images/icons/foodicons/delivery.png" alt="Icon for Restaurant">
            <img id="iconWifi" class="foodicons" src="images/icons/foodicons/lunch.png" alt="Icon for Restaurant">
            <img id="iconWifi" class="foodicons" src="images/icons/foodicons/arrow.png" alt="Icon for Restaurant">
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
</div>

<!-- Second Container 2nd Try -->
<!--=============== About Linzer Lunch ===============-->
<div id="wrapper1">
<section class="about-section" id="sec2">
  <div class="container">
    <div class="row">
      <!--about text-->
      <div class="section-title">
        <h3>Was ist Linzer Lunch?</h3>
        <h4 class="decor-title">die neue Linzer Gourmet Seite!</h4>
      </div>
      <p>Text hier</p>
      <div id="wrapper1">
        <a href="#">Finde hier mehr über Linzer Lunch heraus!</a>
      </div>
    </div>
  </div>
</section>
</div>

<!-- Third Container 2nd Try -->
<!--=============== Inspire Me ===============-->
<div id="wrapper1">
<section class="about-section" id="sec3">
  <div class="container">
    <h3 class="margin">Überrasche mich!</h3>
    <p>Wir empfehlen dir ein Restaurant in deiner Umgebung welches dir gefallen könnte.</p>
    <a href="#" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-search"></span>
      Inspire me
    </a>
  </div>
</section>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
<p>A project from FH Hagenberg - Media Technology and Design
  <a href="https://www.fh-ooe.at">www.fh-ooe.at</a>
</p>
</footer>
</body>

<!--=================================================== -->
<!-- Other Stuff tried out - DO NOT DELETE YET !!!!! -->

<!-- First Container: Huge Mood Picutre + Linzer Lunch Font -->

<!--=============== wrapper1 ===============-->
<!-- <div id="wrapper1"> <!--=============== Hero content ===============-->
<!-- <div class="content full-height hero-content"> <div class="hero-title-holder"> <div class="overlay"></div> <div class="hero-title"> <div class="hero-decor b-dec"> <div class="half-circle"></div> </div> <!-- so that the navigation doesnt overlay
on anything:-->
<!-- <br><br><br><br><br> <div class="container-fluid bg-1 text-center"> <h1 class="margin linz">Linzer Lunch</h1> <img src="bird.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
<h3>Restaurantsuche leicht gemacht!</h3> </div> </div> </div> </div> </div> <!-- new try for parallax start -->

<!-- New Nav Stuff from Template -->

<!--=============== header ===============-->
<!-- <header> <div class="header-inner"> <div class="container"> <!--navigation social links-->
<!-- <div class="nav-social"> <ul> <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li> <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li> <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
<li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li> <li><a href="#" target="_blank"><i class="fa fa-tumblr"></i></a></li> </ul> </div> <!--logo-->
<!-- <div class="logo-holder"> <a href=""> <img src="logo.png" class="respimg logo-vis" alt=""> <img src="logo.png" class="respimg logo-notvis" alt=""> </a> </div> <!--Navigation -->
<!-- <div class="nav-holder"> <nav> <ul> <li><a href="#">Home</a></li> <li><a href="#">Restaurants</a></li> <li><a href="#">Bars</a></li> <li><a href="#">Cafés</a></li> <li><a href="#">About</a></li> <li><a href="#">Contact</a></li> </ul> </nav>
</div> </div> </div> </header> <!--header end-->

<!-- Start Breadcrumb Navigation - must be dynamically for choosing menu -->
<!-- <div class="container" id="breadcrumbs"> <div class="cont_breadcrumbs_1"> <ul> <li><a href="#">One</a></li> <li><a href="#">Tow</a></li> <li><a href="#">Three</a></li> <li><a href="#">Four</a></li> <li><a href="#">Five</a></li> </ul> </div>
</div> <!-- Third Container -->
<!-- <div class="container bg-3 text-center" style="padding-top:140px; padding-bottom:140px;"> <div class="row"> <h3 class="margin">Einfach und bequem dein Restaurant finden.</h3> <div><p>Worauf hast du Lust?</p> </div> </div> <div class="row"> <a
href="#" class="btn btn-primary btn-lg"> <-- <span class="glyphicon glyphicon-grain"></span> </a> <a href="#" class="btn btn-primary btn-lg"> <span class="glyphicon glyphicon-cutlery"></span> </a> <a href="#" class="btn btn-primary btn-lg"> <span
class="glyphicon glyphicon-glass"></span> </a> </div> </div> <!-- First Container (Grid) -->
<!-- <div class="container-fluid bg-3 text-center"> <h3 class="margin">Was ist Linzer Lunch?</h3><br> <div class="row"> <div class="col-sm-4"> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
dolore magna aliqua.</p> </div> <div class="col-sm-4"> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> </div> <div class="col-sm-4"> <p>Lorem ipsum dolor sit amet,
consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> </div> </div> </div> -->
