<head>
  {% include 'head.twig'%}
</head>

<body>
  <header>

    <div id="navbarDesktop" class="row hiddenMobile">
      <!-- <form class="navbar-form navbar-right" role="search"> <div class="form-group"> <input type="text" class="form-control" placeholder="Search"> <div class="mag-line"></div> <button class="btn btn-default" type="submit">Go!</button> </div>
      </form>-->

      <!-- Include Here -->
      <a href="#restaurantSearch" class="col-md-3 col-lg-3 align-middle navbarLink hiddenMobile" style="color:#fccda0;">Nach bestimmtem Restaurant suchen?</a>
      <a href="index.php" class="offset-lg-2 offset-md-1 col-lg-1 align-middle navbarLink hiddenMobile" id="imgLogoMobile"><img src="images/LogoLLgoldig.png" height="40px"></a>
      <a href="#about" class="offset-lg-2 offset-md-1 col-lg-2 align-middle navbarLink hiddenMobile" style="color:#fccda0;">Wer sind wir?</a>
      <a href="#randomSection" class="col-lg-2 align-middle navbarLink hiddenMobile" style="color:#fccda0;">Lass dich überraschen.</a>

    </div>


    <!-- MOBIEL HEADER -->
    <div id="navbarMobile" class="row col-xs-12">
      <!-- dropdown für mobile-->
      <div class="dropdown" id="dropdown">
        <button class="btn btn-primary dropdown-toggle col-xs-2" type="button" data-toggle="dropdown" id="drpbtn">
          <i class="fa fa-bars"></i>
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li>
            <a href="#chooseType">Wo isst du heute?</a>
          </li>
          <li>
            <a href="#restaurantSearch">Nach bestimmtem Restaurant suchen?</a>
          </li>
          <li>
            <a href="#randomSection">Lass dich überraschen.</a>
          </li>
          <li>
            <a href="#about">Wer sind wir?</a>
          </li>
        </ul>
      </div>
      <a href="index.php" class="col-xs-1 col-sm-1 align-middle navbarLink" id="imgLogoMobile"><img src="images/LogoLLgoldig.png" height="40px"></a>


    </div>

    <div id="marginTop">
      <div class="layer row" id="backgroundIMG">
        <img src="images/LogoLLgoldig.png" id="headerLogo">
      </div>
      <!-- Hab das hier mal weiter unten platziert damit man den Pfeil schöner sieht und einfach hats so nicht so sehr unten geklebt beim Bild sondern dann bei der Section darunter - ich fands schöner sonst können wirs wieder ändern -->
      <!--<h3 id="vonlinzern" class="offset-3 col-6">Von LINZERN - für LINZER</h3>-->
    </div>

  </header>

  <!-- Scroll Down Button -->

  <section id="section02" class="demo row">
    <a href="#about">
      <span></span></a>
  </section>

  <a href="javascript:" id="return-to-top">
    <i class="icon-chevron-up"></i>
  </a>

  <!-- Start About Section -->

  <section id="about" class="row">
    <em><br><br></em>
    <!--<h3 id="vonfürLinzer" class="col-12 center">Von LINZERN - für LINZER</h3>-->
    <h3 id="wirsind" class="col-12 center">Was ist Linzer Lunch?</h3>
    <h5 class="col-12 center">Das neue Linzer Restaurant-Portal!</h5>

    <p id="descriptionSection1">
      Linzer Lunch ist EURE neue Informationsseite über die kulinarische Welt von Linz. Ihr findet hier eine Übersicht über tolle Restaurants, Bars und Cafés.
      <br>Lasst euch von uns überraschen, oder benutzt unsere angenehme Icon-Suche!
    </p>

    <h5 class="col-12 center">Momentan habt ihr die Auswahl aus ...
    </h5>
    <p><br/><br/></p>

    <ul class="counters">
      <div class="columns">
        <div class="column col-lg-4">
          <li class="counter">
            <h2 class="timer count-title count-number counter-number" id="firstCounter" data-speed="1500">0</h2>
            <span class="counter-name">Restaurants</span>
          </li>
        </div>
        <div class="column col-lg-4">
          <li class="counter">
            <h2 class="timer count-title count-number counter-number" id="secondCounter" data-speed="1500">0</h2>
            <span class="counter-name">Cafés</span>

          </li>
        </div>
        <div class="column col-lg-4">
          <li class="counter">
            <h2 class="timer count-title count-number counter-number" id="thirdCounter" data-speed="1500">0</h2>
            <span class="counter-name">Bars</span>
          </li>
        </div>
      </div>
    </ul>

  </section>

  <!-- -------------------------------- -->
  <!-- Start First Parallax Section -->

  <!-- in KEINE Section einbinden sonst funktionierts nicht schön über die ganze Länge! -->

  <div class="parallax1 col-lg-12"></div>

  {% include 'icons.twig'%}

  <!-- Algolia Search -->
  <!--<div class="row"></div>-->
  {% include 'search.twig'%}

  <!-- -------------------------------- -->
  <!-- Start Second Parallax Section - wollten ja irgendwie noch nen dritten Bereich -->

  <!-- in KEINE Section einbinden sonst funktionierts nicht schön über die ganze Länge! -->
  <div class="parallax2 col-lg-12"></div>

  <!-- -------------------------------- -->

  <!-- Falls wir noch eine dritte Section brauchen hab ich gleich hier n Parralax dafür und den Section Placeholder -->

  <section id="restaurantSearch" class="row">
    <div class="col-lg-12">
      <h3 id="wirsind" class="col-12 center"><br><br>Nach einem bestimmten Restaurant suchen:</h3>

      <!-- <p id="description"> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p> -->

      <!-- Algolia Search -->
      {% include 'textSearch.twig'%}
    </div>
  </section>

  <section id="randomSearch" class="row">
    <div class="col-lg-12">
      <h3 id="wirsind" class="offset-3 col-5"><br><br>Lass dich überraschen:</h3>

      <p id="description">
        Du weißt nicht genau worauf du Lust hast? Wähle eine Oberkategorie und lass dich von unserem kleinen Glücksrad einfach überraschen! Natürlich kannst du das auch öfter machen, oder dich einfach auf unserer Seite so umsehen.
      </p>

      <!-- Algolia Search -->
      {% include 'random.twig'%}
    </div>
  </section>

  <footer>
    <div class="offset-2 col-8 align-middle  ">
      <p id="footerText">
        &copy; by Magdalena Geissbauer, Birgit Haselmayr, Andrea Maderthaner &amp; Natascha Rammelmüller
        <br>
        A project from FH Hagenberg - Media Technology and Design
        <a href="https://www.fh-ooe.at">www.fh-ooe.at</a>
      </p>
    </div>
  </footer>
</body>
