<section id="randomSection" class="center">
  <!-- habe category in randomCategory und iconRestaurant auf iconRandom umbenannt-->
  <div id="iconRandom" class="col-12 row">
    <div class="col-3">
      <input type="radio" name="randomCategory" value="restaurant"/>
      <label for="restaurant">
        <img src="images/icons/resgoldy.png" alt="Icon for Restaurant" width="150">
      </label>
    </div>
    <div class="col-3">
      <input type="radio" name="randomCategory" value="cafe"/>
      <label for="cafe">
        <img src="images/icons/cafegoldy.png" alt="Icon for Café" width="150">
      </label>
    </div>
    <div class="col-3">
      <input type="radio" name="randomCategory" value="bar"/>
      <label for="bar">
        <img src="images/icons/bargoldy.png" alt="Icon for Bar" width="150">
      </label>
    </div>
    <div class="col-3">
      <input type="radio" name="randomCategory" value=""/>
      <label for="all">
        <img src="images/icons/allgoldy.png" alt="Icon for All" width="150">
      </label>
    </div>
  </div>

<!--
  <div class="col-3" class="buttons">
    <button id="surpriseButton"><img id="searchRandom" src="images/icons/randomButton.png" width="150"></button>
  </div>
-->

  <div id="random">

  </div>
</section>
