<section>
  <!--TODO: id's ändern da sonst doppelt auf Seite -->
  <!-- habe category in randomCategory und iconRestaurant auf iconRandom umbenannt-->
  <div id="iconRandom" class="col-12 row">
    <div class="col-3" id="resBG">
      <input type="radio" name="randomCategory" value="restaurant" id="restaurant"/>
      <label for="restaurant">
        <img id="iconRes" src="images/icons/resgoldy.png" alt="Icon for Restaurant" width="150">
      </label>
    </div>
    <div class="col-3" id="cafBG">
      <input type="radio" name="randomCategory" value="cafe" id="cafe"/>
      <label for="cafe">
        <img id="iconCaf" src="images/icons/cafegoldy.png" alt="Icon for Café" width="150">
      </label>
    </div>
    <div class="col-3" id="barBG">
      <input type="radio" name="randomCategory" value="bar" id="bar"/>
      <label for="bar">
        <img id="iconBar" src="images/icons/bargoldy.png" alt="Icon for Bar" width="150">
      </label>
    </div>
    <div class="col-3" id="allBGs">
      <input type="radio" name="randomCategory" value="" id="all"/>
      <label for="all">
        <img id="iconAll" src="images/icons/allgoldy.png" alt="Icon for All" width="150">
      </label>
    </div>
  </div>

<!--
  <div class="col-3" class="buttons">
    <button id="surpriseButton"><img id="searchRandom" src="images/icons/randomButton.png" width="150"></button>
  </div>
-->

  <div id="random">

  </div>
</section>
