<section id="randomSection" class="center">
  <!-- habe category in randomCategory und iconRestaurant auf iconRandom umbenannt-->
  <div id="iconRandom" class="col-12 row">
    <div class="col-lg-3 col-md-3 col-sm-3 icon random" >
      <input type="radio" name="randomCategory" value="restaurant" class="randomres"/>
      <label for="restaurant" id="randomrestaurant" style="text-align:center;">
        <span width=150px></span>
      </label>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 random">
      <input type="radio" name="randomCategory" value="cafe" class="randomcaf"/>
      <label for="cafe" >
        <span width=150px></span>
      </label>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 random">
      <input type="radio" name="randomCategory" value="bar" class="randomba"/>
      <label for="bar" >
        <span width=150px></span>
      </label>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 random">
      <input type="radio" name="randomCategory" value="" class="randomal"/>
      <label for="all" >
        <span width=150px></span>
      </label>
    </div>

  </div>


  <div id="random">

  </div>
</section>
