<section id="randomSection" class="center">
  <!-- habe category in randomCategory und iconRestaurant auf iconRandom umbenannt-->
  <div id="iconRandom" class="col-12 row">
    <div class="col-3 random">
<<<<<<< HEAD
      <input type="radio" name="randomCategory" value="restaurant" class="randomres"/>
      <label for="restaurant" id="randomrestaurant">
=======
      <input type="radio" name="randomCategory" value="restaurant"/>
      <label for="restaurant" class="reslabel">
>>>>>>> cdd17ac3fe80081baf06421c2c872f33e5196edf
        <span width=150px></span>
      </label>
    </div>
    <div class="col-3 random">
<<<<<<< HEAD
      <input type="radio" name="randomCategory" value="cafe" class="randomcaf"/>
      <label for="cafe" >
=======
      <input type="radio" name="randomCategory" value="cafe"/>
      <label for="cafe" class="caflabel">
>>>>>>> cdd17ac3fe80081baf06421c2c872f33e5196edf
        <span width=150px></span>
      </label>
    </div>
    <div class="col-3 random">
<<<<<<< HEAD
      <input type="radio" name="randomCategory" value="bar" class="randomba"/>
      <label for="bar" >
=======
      <input type="radio" name="randomCategory" value="bar"/>
      <label for="bar" class="barlabel">
>>>>>>> cdd17ac3fe80081baf06421c2c872f33e5196edf
        <span width=150px></span>
      </label>
    </div>
    <div class="col-3 random">
<<<<<<< HEAD
      <input type="radio" name="randomCategory" value="" class="randomal"/>
      <label for="all" >
=======
      <input type="radio" name="randomCategory" value=""/>
      <label for="all" class="mix">
>>>>>>> cdd17ac3fe80081baf06421c2c872f33e5196edf
        <span width=150px></span>
      </label>
    </div>
    <!--<label>Restaurant</label>
    <input type="radio" name="randomCategory" value="restaurant"/>
    <label>Café</label>
    <input type="radio" name="randomCategory" value="cafe"/>
    <label>Bar</label>
    <input type="radio" name="randomCategory" value="bar"/>
    <label>All</label>
    <input type="radio" name="randomCategory" value=""/> -->
  </div>

<!--
  <div class="col-3" class="buttons">
    <button id="surpriseButton"><img id="searchRandom" src="images/icons/randomButton.png" width="150"></button>
  </div>
-->

  <div id="random">

  </div>
</section>
