<head>

    {% include 'head.twig'%}
    <style>{{ source('style.css') }}</style>
    <style>
        @import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900|Cabin:400,700|Droid+Serif:400,700|Playball');
    </style>
    <title>LinzerLunch</title>
</head>

<body>

<!-- Start of the Header: Navigation Bar, Logo - Navbar Right Aligned & Fixed at the Top so that its always there when scrolling -->
<!--=============== header ===============-->

<header>
    <div class="header-inner">
        <div class="container">
            <!--Navigation --

            <div class="nav-holder">
              <!-->

            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <a href="index.php" class="pull-left" id="logopicture"><img src="images/logo.png" height="50px" width="50px"></a>
                        <li><a href="restaurants.php">Restaurants</a></li>
                        <li><a href="bars.php">Bars</a></li>
                        <li><a href="cafes.php">Cafés</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="about.php">About</a></li>
                        <li><a href="contact.php">Contact</a></li>
                        <li><a href="#">&nbsp;</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    </div>
</header>
<!--header end-->
<!--header end-->


<!--=============== Hero content ===============-->
<div class="content full-height hero-content">
    <div class="bg" style="background-image: url(bg1.jpg)"></div>
    <div class="hero-title-holder">
        <div class="overlay"></div>
        <div class="hero-title">
            <h3>Linzer Lunch</h3>
            <h4>Die Linzer Restaurant Website</h4>
        </div>
        <div class="hero-link">
            <a class="custom-scroll-link" href="#sec1"><i class="fa fa-angle-double-down"></i></a>
        </div>
    </div>
</div>
<!--hero end-->

<em><br><br><br></em>


<!-- First Container 2nd Try -->
<!--=============== Restaurantsuche ===============-->

<div id="wrapper1">
    <section class="about-section" id="sec1">
        <div class="container">
            <div class="row">
                <!--about text-->
                <div class="section-title">
                    <h3>Jetzt dein ideales Restaurant finden!</h3>
                    <h4 class="decor-title">Finde hier alle Restaurants in Linz!</h4>
                </div>
            </div>
        </div>
</section>
</div>

<div id="wrapper1">
    <section class="about-section" id="sec2">
        <div class="container">
            <div class="row">
                <!--about text-->
                <div class="section-title">
                    <h4 class="decor-title">Hier Filterkriterien auswählen:</h4>

                        <div class="row">
                            <div class="form-group">
                                <div class="searchable-container">
                                    <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                                        <div class="info-block block-info clearfix">
                                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                                <label class="btn btn-default">
                                                    <div class="bizcontent">
                                                        <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                        <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                                        <h5>Coffee</h5>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                                        <div class="info-block block-info clearfix">
                                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                                <label class="btn btn-default">
                                                    <div class="bizcontent">
                                                        <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                        <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                                        <h5>Tea</h5>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                                        <div class="info-block block-info clearfix">
                                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                                <label class="btn btn-default">
                                                    <div class="bizcontent">
                                                        <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                        <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                                        <h5>Fruit Juice</h5>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                                        <div class="info-block block-info clearfix">
                                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                                <label class="btn btn-default">
                                                    <div class="bizcontent">
                                                        <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                                        <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                                        <h5>Other Stuff</h5>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <em>&nbsp;&nbsp;   <br><br><br>&nbsp;&nbsp;&nbsp;   </em>
                            <button type="submit" class="btn btn-primary">Submit</button>


                            <!--
                       <div>
                       <label class="checkbox-inline"><input type="checkbox" value="">WLAN</label>
                       <label class="checkbox-inline"><input type="checkbox" value="">Nichtraucher</label>
                       <label class="checkbox-inline"><input type="checkbox" value="">Frühstück</label>
                       </div>
                       -->

                        </div>
            </div>
        </div>
    </section>
</div>

<!-- Third Container 2nd Try -->
<!--=============== Inspire Me ===============-->
<div id="wrapper1">
    <section class="about-section" id="sec3">

        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="post">
                        <div class="post-img-content">
                            <img src="http://placehold.it/460x250/e67e22/ffffff&text=HTML5" class="img-responsive" />
                            <span class="post-title"><b>Make a Image Blur Effects With</b><br />
                        <b>CSS3 Blur</b></span>
                        </div>
                        <div class="content">
                            <div class="author">
                                By <b>Bhaumik</b> |
                                <time datetime="2014-01-20">January 20th, 2014</time>
                            </div>
                            <div>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                            <div>
                                <a href="http://www.jquery2dotnet.com/2014/01/jquery-highlight-table-row-and-column.html" class="btn btn-warning btn-sm">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="post">
                        <div class="post-img-content">
                            <img src="http://placehold.it/460x250/2980b9/ffffff&text=CSS3" class="img-responsive" />
                            <span class="post-title"><b>Make a Image Blur Effects With</b><br />
                        <b>CSS3 Blur</b></span>
                        </div>
                        <div class="content">
                            <div class="author">
                                By <b>Bhaumik</b> |
                                <time datetime="2014-01-20">January 20th, 2014</time>
                            </div>
                            <div>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                            <div>
                                <a href="http://www.jquery2dotnet.com/2013/11/share-social-media-round-buttons.html" class="btn btn-primary btn-sm">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="post">
                        <div class="post-img-content">
                            <img src="http://placehold.it/460x250/47A447/ffffff&text=jQuery" class="img-responsive" />
                            <span class="post-title"><b>Make a Image Blur Effects With</b><br />
                        <b>CSS3 Blur</b></span>
                        </div>
                        <div class="content">
                            <div class="author">
                                By <b>Bhaumik</b> |
                                <time datetime="2014-01-20">January 20th, 2014</time>
                            </div>
                            <div>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                            <div>
                                <a href="http://www.jquery2dotnet.com/2013/07/cool-social-sharing-button-using-css3.html" class="btn btn-success btn-sm">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
    <p>A project from FH Hagenberg - Media Technology and Design <a href="https://www.fh-ooe.at">www.fh-ooe.at</a></p>
</footer>
</body>
