/*@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*-------------Import fonts ---------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900|Cabin:400,700|Droid+Serif:400,700|Playball);

:root {
  --blue:#ade5d8;
  --orange:#ffcca1;
}

.body {
    font-size: 20px;
    line-height: 1.8;
    background-color: darkred;
    font-family: 'Montserrat', sans-serif;
}

#logo {
    margin-left: 50px;
    margin-right: 50%;
}

#wrapper1 {
    text-align: center;
}

.firstrowbuttons {
    float:left;
    display: inline-block;
    list-style-type:none;
    margin-right:15px;
}

#logopicture {
    margin: 10px;
    padding-left: 10px;
}

#linzerlunchtitle {
    font-size: 80px;
}

#linzerlunchtitel2 {
  font-style: 'Montserrat', sans-serif;
  font-weight: 300;

}


/* ---------- Restaurant Site Checkbox Layout ------------*/
.searchable-container{margin:20px 0 0 0}
.searchable-container label.btn-default.active{background-color:#ffcca1;color:#FFF;border-color: #ffcca1}
.searchable-container label.btn-default{width:90%;border:1px solid #efefef;margin:5px; box-shadow:5px 8px 8px 0 #ccc;}
.searchable-container label .bizcontent{width:100%;}
.searchable-container .btn-group{width:90%}
.searchable-container .btn span.glyphicon{
    opacity: 0;
}
.searchable-container .btn.active span.glyphicon {
    opacity: 1;
}

.btn-primary {
    background-color: #ffcca1;
    border-color: #ffcca1;
}

/* ---------- Restaurant Site Responsive Thumbnail List ------------*/

.post
{
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 0 0 1px #CCC;
}
.post img
{
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -ms-filter: blur(2px);
}
.post .content
{
    padding: 15px;
}
.post .author
{
    font-size: 11px;
    color: #737373;
    padding: 25px 30px 20px;
}
.post .post-img-content
{
    height: 196px;
    position: relative;
}
.post .post-img-content img
{
    position: absolute;
}
.post .post-title
{
    display: table-cell;
    vertical-align: bottom;
    z-index: 2;
    position: relative;
}
.post .post-title b
{
    background-color: rgba(51, 51, 51, 0.58);
    display: inline-block;
    margin-bottom: 5px;
    color: #FFF;
    padding: 10px 15px;
    margin-top: 5px;
}



/* ---------Content Styles--------------------------------------*/

.container{
    max-width: 1224px;
    width:92%;
    margin:0 auto;
    position: relative;
    z-index:2;
}
.content {
    width:100%;
    position:relative;
    z-index:2;
    float:left;
}
.full-height {
    height:100%;
}

.respimg {
    width:100%;
    height:auto;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.2;
    z-index:2;
}
/* --------- Section's--------------------------------------*/
section {
    float:left;
    width:100%;
    position:relative;
    padding:90px 0;
    background:#fff;
}
.parallax-section {
    padding:150px 0;
    color:#fff;
    overflow:hidden;
}
.parallax-section .overlay {
    opacity:0.5;
}
.section-separator {
    float:right;
    width:70%;
    height:6px;
    background:#000;
    margin-right:-20%;
}
.bg-parallax {
    height:150%;
    top:-25%;
}
.parallax-section h2 {
    text-transform:uppercase;
    font-weight:bold;
    font-size:44px;
    letter-spacing:2px;
    padding-bottom:20px;
    font-family: 'Source Sans Pro', sans-serif;
}
.parallax-section h3{
    color:#fff;
    font-size:34px;
    font-family: 'Playball', cursive;
}
section.header-section {
    padding:250px 0;
    border-top:20px solid #fff;
}
.section-title {
    float:left;
    width:100%;
    margin-bottom:20px;
}
.section-title h3 {
    font-size:58px;
    font-family: 'Playball', cursive;
}
.section-title h4 {
    font-size:20px;
    text-transform:uppercase;
    font-weight:bold;
    letter-spacing:1px;
    position:relative;
    display:inline-table;
    padding-bottom:20px;
    font-family: 'Source Sans Pro', sans-serif;
}
.decor-title:before ,  .decor-title:after {
    content:'';
    position:absolute;
    top:12px;
    width:26px;
    height:6px;
}
.decor-title:before {
    left:-46px;
}
.section-title h4:after {
    right:-46px;
}
.triangle-decor {
    position: absolute;
    top: -8px;
    left: 0;
    width: 100%;
    z-index: 57;
}
.about-section .link {
    margin-top:20px;
    float:left;
}
.about-section .single-slider-holder {
    margin-top:80px;
}
.bold-separator {
    float:left;
    width:100%;
    margin:50px 0;
    position:relative;
}
.bold-separator span {
    width:6px;
    height:6px;
    display:inline-table;
    background:#191919;
    margin:0 auto;
    border-radius:100%;
}
.bold-separator:before , .bold-separator:after {
    content:'';
    position:absolute;
    width:10%;
    height:1px;
    top:2px;
    opacity:0.3;
}
.bold-separator:before {
    left:30%;
}
.bold-separator:after {
    right:30%;
}
.parallax-section .bold-separator span {
    background:#fff;
}
.align-text {
    text-align:left;
}
.img-wrap {
    position:absolute;
    top:0;
    right:0;
    width:30%;
    overflow:hidden;
    height:100%;
    z-index:4;
}
.no-border {
    border:none !important;
}
.no-padding {
    padding:0 !important;
}
.inner {
    max-width:800px;
    margin:0 auto;
}
.inner  p {
    text-align:center;
}
.link {
    font-size:17px;
    padding:10px 15px;
    display:inline-table;
    font-weight:bold;
    font-family: 'Playball', cursive;
    letter-spacing:2px;
    margin-bottom:20px;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
    text-transform:uppercase;
}
.align-link {
    margin-top:30px;
}
.link:hover {
    color:#000;
}
.align-link:hover {
    color:#fff;
}
.section-icon {
    width:60px;
    height:60px;
    line-height:60px;
    margin:10px auto;
    background:rgba(255,255,255,0.21);
    border:2px solid rgba(255,255,255,0.51);
    border-radius:100%;
    font-size:20px;
}

.foodicons {
  height: 90px;
  margin-bottom: 5px;
}

#checkicons {
margin: 10px;
}


/*  Home Stuff for the Parallax Beginning */

/*------ Home -------------------------------------------------*/
.hero-link {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:20px;
    background:#fff;
    z-index:15;
    background-image: url(images/arrowdown.png);
}
.hero-link a {
    font-size:24px;
    position:absolute;
    width:50px;
    height:50px;
    left:50%;
    margin-left:-25px;
    margin-top:-20px;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}
.hero-line {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:20px;
    background:#fff;
    z-index:20;
}
.hero-content:before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:20px;
    height:100%;
    background:#fff;
    z-index:20;
}
.hero-content:after {
    content:'';
    position:absolute;
    top:0;
    right:0;
    width:20px;
    height:100%;
    background:#fff;
    z-index:20;
}
.hero-link a:before {
    content:'';
    position:absolute;
    top:-10px;
    left:50%;
    margin-left:-40px;
    width:80px;
    height:80px;
    border-radius:100%;
    background:#fff;
    z-index:-1;
}

.vis-decor .bg {
    -webkit-transform: scale(1.2);
    -moz-transform:scale(1.2);
    transform: scale(1.2);
}
.vis-decor .overlay {
    opacity:0.7;
}

.media-container {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
}

.hero-title-holder {
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    z-index:3;
    background-image: url(images/bg2.jpg);
    background-size: cover;
}
.hero-title-holder .overlay {
    opacity:0.4;
}
.hero-title {
    max-width:450px;
    margin:0 auto;
    top:40%;
    position:relative;
    z-index:5;
}
.hero-decor {
    position:absolute;
    left:50%;
    margin-left:-50px;
    width:100px;
    height:50px;
}
.t-dec {
    top:-60px;
}
.b-dec {
    bottom:-70px;
}

.hero-title h3 {
    font-size:40px;
    letter-spacing:2px;
    position:relative;
    width:100%;
    margin-bottom:10px;
    color:#fff;
    font-weight:bold;
    padding:10px 0;
    font-family: 'Playball', cursive;
}
.hero-title h4 {
    font-size: 14px;
    text-transform:uppercase;
    letter-spacing:2px;
    position:relative;
    color:#fff;
    max-width:350px;
    margin:0 auto;
}
.hero-title h4:before , .hero-title h4:after {
    content:'';
    position:absolute;
    top:50%;
    width:75px;
    height:1px;
    opacity:0.6;
}
.hero-title h4:before {
    left:-90px;
}
.hero-title h4:after {
    right:-90px;
}
.hero-title h3 a  , .hero-title h4 a{
    color:#fff;
}
.hero-title h4 a {
    float:right;
}
.hero-title h4 a:hover , .hero-title h4 a:hover i {
    color:#fff;
}
.hero-title h4 a {
    padding-right:0;
}
.slides-pagination {
    z-index:20;
}
.mob-bg {
    display:none;
}

/*------ Navigation  ------------------------------------------------*/
.nav-holder {
    float:right;
    position:relative;
    margin-top:20px;
}
nav {
    position:relative;
    float:left;
    width:100%;
}
nav li{
    float:left;
    position:relative;
    padding: 10px 22px;
}
nav li a {
    float: left;
    line-height: 1;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    top:0;
    position:relative;
    font-family: 'Droid Serif', serif;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
}
nav li a:before , nav li a:after {
    content:'';
    position:absolute;
    top:50%;
    margin-top:-2px;
    width:4px;
    height:4px;
    background:#fff;
    border-radius:100%;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
    -webkit-transform: scale(0.1);
    -moz-transform:scale(0.1);
    transform: scale(0.1);
    opacity:0;
}
nav li a:before {
    left:-16px;
}
nav li a:after {
    right:-16px;
}
nav li a.act-link:before , nav li a.act-link:after {
    -webkit-transform: scale(1.0);
    -moz-transform:scale(1.0);
    transform: scale(1.0);
    opacity:1;
}
nav li ul a:before , nav li ul a:after {
    display:none;
}
nav li ul a.act-link {
    color:#000;
    font-weight:600;
}
nav li ul {
    margin: 30px 0 0 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    min-width:150px;
    top: 38px;
    left: 0;
    z-index: 1;
    transition: all .2s ease-in-out;
    border:1px solid rgba(255,255,255,0.41);
    background:rgba(255,255,255,0.21);
}
nav li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}
nav li:last-child {
    padding-right:0;
}
.nav-button-holder {
    top:40px;
    right:20px;
    display:none;
    position:absolute;
}
.nav-button {
    float:right;
    width:30px;
    height:24px;
    position:relative;
    margin-top:22px;
    cursor:pointer;
}
.nav-button span {
    float:left;
    width:100%;
    height:4px;
    background:#fff;
    margin-bottom:2px;
    position:relative;
}
header.sticky nav a ,  header.flat-header nav a{
    color:#000;
}
header.sticky nav li a:before  , header.sticky nav li a:after , header.flat-header nav li a:before , header.flat-header    nav li a:after{
    background:#000;
}
header.sticky .nav-button span  , header.flat-header .nav-button span{
    background:#000;
}
header.sticky nav li ul {
    background:rgba(255,255,255,1);
}
.nav-social {
    float:right;
    width:100%;
    position:relative;
    -webkit-transition: all 600ms linear;
    -moz-transition: all 600ms linear;
    -o-transition: all 600ms linear;
    transition: all 600ms linear;
    top:10px;
}
.nav-social ul {
    float:right;
}
.nav-social li  {
    float:left;
    padding:10px;
}
.nav-social li:last-child {
    padding-right:0;
}
.nav-social li a {
    color:#fff;
    font-size:14px;
}
header.sticky   .nav-social   {
    top:-110px;
}
.subnav {
    float:right;
    margin:30px 6px 0 0 ;
}
.subnav a {
    display:inline-block;
    line-height: 1;
    font-size: 13px;
    color: #fff;
    top:0;
    padding-left:16px;
    position:relative;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
}
.subnav a i {
    padding-right:4px;
}
header.sticky nav a , header.sticky .subnav a  , header.flat-header .nav-social li a , header.flat-header .subnav a {
    color:#000;
}
.height-emulator {
    float:left;
    width:100%;
    position:relative;
    z-index:1
}

/*------  Responsive ------------------------------------------------------*/
@media only screen and  (max-width: 1536px) {
    .menu-bg {
        width:50%;
        height:80%;
    }
}
@media only screen and  (max-width: 1036px) {
    .mob-bg {
        display:block;
    }
    .nav-button-holder  {
        display:block;
    }
    .nav-holder {
        position:absolute;
        top:90px;
        left:0;
        width:100%;
        background: #ffffff;
        padding:30px 0;
        display:none;
        height:300px;
        overflow:auto;
    }
    nav ul li {
        float:left;
        width:100%;
        margin-bottom:10px;
        text-align:left;
        left:0;
        opacity:1;
        right: 0;
    }
    nav li a.act-link:before , nav li a.act-link:after {
        left:7px;
    }
    .hero-title-holder {
        width:100%;
    }
    .hero-title {
        top:45%;
        float:none;
        margin: 0 auto;
        border-right:none;
        padding:50px;
    }
    .hero-title h3 {
        font-size:22px;
    }
    .hero-title h4 {
        font-size:12px
    }
    .page-title {
        padding-bottom:20px;
    }
    .page-title h2 {
        font-size:30px;
    }
    .gallery-item {
        width:50% !important;
    }
    header.sticky nav a ,  header.flat-header nav a{
        color: #181818;
    }
    nav a:before , nav a:after , .work-time:before , .hero-title h4:before , .hero-title h4:after {
        display:none;
    }
    .nav-social {
        margin-right:20px;
    }
    .subnav {
        margin-top:24px;
    }
    .map-holder {
        top:0;
    }
    .bg-parallax  , .media-container.video-parallax{
        height:100%;
        top:0;
    }
    .team-modal img {
        margin:30px 0
    }
    nav li ul {
        margin: 0;
        padding-left:0;
        opacity: 1;
        visibility: hidden;
        position: relative;
        width:100%;
        display:none;
        top:0;
        left: 0;
        z-index: 1;
        border:none;

    }
    nav li ul li  {
        padding:3px 0;
    }
    nav li ul li:first-child {
        margin-top:10px;
    }
    nav li:hover > ul {
        display: block;
    }
}
@media only screen and  (max-width: 756px) {
    .team-item  , .three-coulms .gallery-item , .three-coulms .grid-sizer , .three-coulms .gallery-item-second , .products li.product-cat-mains{
        width:50% !important;
    }
    .slides-pagination {
        display:none;
    }
    .slides-navigation {
        bottom:30px;
        right:10px;
    }
}
@media only screen and  (max-width: 540px) {
    .team-item  , .chefinfo , .team-item  , .three-coulms .gallery-item , .three-coulms .grid-sizer , .three-coulms .gallery-item-second , .products li.product-cat-mains{
        width:100% !important;
    }
    .grid-small-pad  .grid-item-holder{
        padding:10px;
    }
    #wrapper {
        padding:0;
    }
    .parallax-section h2  , .section-title h3 , .big-number a{
        font-size:28px;
    }
    .to-top-holder p  , .to-top{
        width:100%;
        text-align:center;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .bg {
        background-attachment: scroll !important;
        -webkit-background-size:cover;
        background-position:center;
    }
}
