<section>
  <div>
    <label>Nach einem bestimmten Restaurant suchen:</label>
    <input id="textSearch" autocomplete="off" value="">
  </div>

  <div>
    <div id="textHits"></div>
  </div>

  <!--Template für Ergebnisse-->
  <script type="text/html" id="textHit-template">
    <div class="hit-content">
      <h2 class="hit-name">
        {% verbatim %}{{{_highlightResult.name.value}}}
        {% endverbatim %}
      </h2>
    </div>
  </div>
</script>

</section>

<!-- INFO @Natascha: pen -->

<!-- <form class="navbar-form navbar-right" role="search"> <div class="form-group"> <input type="text" class="form-control" placeholder="Search" id="textSearch" autocomplete="off" value=""> </div> </form> <form style="width:500px; margin:50px auto;">
<div class="dropdown"> <input type="text" class="jAuto form-control" placeholder="Type something" autocomplete="off"> <div class="dropdown-menu"> <i class="hasNoResults">No matching results</i> <div class="list-autocomplete"> <button type="button"
class="dropdown-item">01 - Jack</button> <button type="button" class="dropdown-item">02 - Ripperl</button> <button type="button" class="dropdown-item">03 - Bravo Alpha</button> <button type="button" class="dropdown-item">04 - Delta</button> </div>
<button type="button" class="btn-extra">Custom button</button> </div> </div> -->
