<section>
  <div class="center">
    <input id="textSearch" autocomplete="off" value="" class="col-12 center" type="text" placeholder="z.B. McDonalds">
  </div>

  <div>
    <div id="textHits">
    </div>
  </div>

</section>
