:root {
  --bluedark:#ade5d8;
  --bluelight:#ffcca1;
  --goldy: #fccda0;
  --grey: #0a0f10;
  --white: #ffffff;
}

#chooseType {
  background-color: var(--white);
  padding: 5% 2% 5% 3%;
}

.buttons {
    border: none;
    background: rgba(0, 0, 0, 0.0);
}

#iconSearch {
  margin-top: 5%;
}

#icon {
  text-align: center;
}

#descriptionIcons {
  margin: 5px auto;

}

span {
  margin-left: auto;
  margin-right: auto;
}
