:root {
  --bluedark:#ade5d8;
  --bluelight:#ffcca1;
  --goldy: #fccda0;
  --grey: #0a0f10;
  --white: #ffffff;
}

header {
 margin-bottom: 5%;
}

#navbarDesktop {
  background-color: var(--grey);
  padding: 10px;
  color: var(--goldy);
  text-align: center;
  z-index: 98;
}


.navbarLink {
  color: var(--goldy);
}

#marginTop {
  z-index: initial;
}

#backgroundIMG {
  background: #ffffff;
  background-image: url(../images/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90%;
}

#headerLogo {
  position: absolute;
  max-height: 55%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  max-width:60%;

}

#vonlinzern {
    margin-top: -55px;

    font-size: 24pt;
    color: var(--goldy);
    font-weight: 600;
    text-align: center;
}
