:root {
  --bluedark: #ade5d8;
  --bluelight: #ffcca1;
  --goldy: #fccda0;
  --grey: #0a0f10;
  --white: #ffffff;
}

.hide {
  display: none;
}

body {
  font-size: 16px;
  line-height: 1.8;
  background-color: var(--grey);
  font-family: 'Montserrat', sans-serif;
  padding: 0% 4% 0% 4%;
}

h3 {
  font-size: 24pt;
  color: var(--goldy);
  font-weight: 600;
  text-align: center;
}

h6 {
  text-align: center;
}

h4{
  font-size: 20pt;
  color: var(--goldy);
  font-weight: 600;
  text-align: center;
}


a {
  font-size: 15px;
  color: inherit;
  text-decoration: none;
}

a:link, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  font-weight: 450;
}

section {
  background-color: #ffffff;
  margin-right: 2%;
  padding: 5px;
}



#navbar {
    position: fixed;
    margin-left: -70px;

    /* position fixed, immer vordergrund */
    z-index: 1;

}


/**
 * COUNTERS
 */


 .counters {
   top: 50%;
   left: 50%;
   width: 100vw;
   list-style-type:none;
   padding: 100px 100px;
 }
 @media screen and (min-width: 769px) {
   .counters .column {
     padding-left: 0;
     float:left;
   }
 }

 .counter {
   padding-bottom: 1rem;
   border-bottom: 1px solid #eee;
   text-align: center;
 }
 @media screen and (min-width: 769px) {
   .counter {
     border-bottom: 0;
     border-right: 1px solid #eee;
   }
 }
 .column:last-of-type .counter {
   border-bottom: 0;
   border-right: 0;
 }
 .counter-number {
   display: block;
   font-size: 4rem;
   font-weight: 700;
 }
 .counter-name {
   display: block;
 }


/* Start CSS Parallax */

.parallax1 {
    /* The image used */
    background-image: url("../images/bg3.jpg");

    /* Set a specific height */
    height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 0% -40% 0% -4%;
}

.parallax2 {
    /* The image used */
    background-image: url("../images/bg4.jpg");

    /* Set a specific height */
    height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body .parallax {
    padding: 0% -4% 0% -4%;
}

/* Ende Parallax */

/* Start jQuery Counter Animation */

.col-md-4 {
    text-align: center;
    padding-bottom: 50px;
    border-right: 1px dashed black;
}

.col-md-4:last-child {
    border-right: 0px solid black;
}

.counter {
    animation-duration: 1s;
    animation-delay: 0s;
}

i {
    font-size: 20px !Important;
}

@media (max-width: 991px) {
    .col-md-4 {
        border-right: 0px dashed black;
        border-bottom: 1px dashed black;
        width: 50%;
        margin: auto auto;
    }

    .col-md-4:last-child {
        border-bottom: 0px dashed black;
    }
}



/**
 * COUNTERS



.counters {
    top: 50%;
    left: 50%;
    width: 100vw;
    list-style-type:none;
    padding: 100px 100px;
}
@media screen and (min-width: 769px) {
    .counters .column {
        padding-left: 0;
        float:left;
    }
}

.counter {
    padding-bottom: 1rem;
    border-bottom: 1px solid #eee;
    text-align: center;
}
@media screen and (min-width: 769px) {
    .counter {
        border-bottom: 0;
        border-right: 1px solid #eee;
    }
}
.column:last-of-type .counter {
    border-bottom: 0;
    border-right: 0;
}
.counter-number {
    display: block;
    font-size: 4rem;
    font-weight: 700;
}
.counter-name {
    display: block;
}

 */



/* Navbar 2nd Try */

/*

.navbar {
    border-radius: 0;
    position: fixed;
    z-index: 1;
}

.navbar-form .form-group input[class="form-control"] {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid #9d9d9d;
    background: #222;
    color: #fff;
}
.navbar-form .form-group input[class="form-control"]:hover {
    cursor: pointer;
    border-color: #fff;
}
.navbar-form .form-group input[class="form-control"]:hover ~ .mag-line {
    background: #fff;
}
.navbar-form .form-group input[class="form-control"]:focus {
    -webkit-animation: openSearchField 0.6s forwards;
    animation: openSearchField 0.6s forwards;
    outline: none;
    box-shadow: none;
    border-color: #fff;
}
.navbar-form .form-group input[class="form-control"]:focus ~ .mag-line {
    display: none;
}
.navbar-form .form-group input[class="form-control"]:focus ~ button[type="submit"] {
    display: inline-block;
    -webkit-animation: showSearchSubmit 0.6s forwards;
    animation: showSearchSubmit 0.6s forwards;
}
.navbar-form .form-group .mag-line {
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 12px;
    background: #9d9d9d;
    -webkit-transform: rotate(-45deg) translateX(21px) translateY(15px);
    transform: rotate(-45deg) translateX(21px) translateY(15px);
}

/* GO Button for the Navigation */
/*
.navbar-form .form-group button[type="submit"] {
    display: none;
    width: 0;
    padding: 0;
    opacity: 0;
    overflow: hidden;
    border: 2px solid #fff;
    background: #fff;
    color: #222;
}

@-webkit-keyframes openSearchField {
    30% {
        border-radius: 4px;
    }
    100% {
        width: 300px;
        height: 34px;
        border-radius: 4px;
    }
}

@keyframes openSearchField {
    30% {
        border-radius: 4px;
    }
    100% {
        width: 300px;
        height: 34px;
        border-radius: 4px;
    }
}
@-webkit-keyframes showSearchSubmit {
    100% {
        width: auto;
        padding: 5px 8px;
        opacity: 1;
    }
}
@keyframes showSearchSubmit {
    100% {
        width: auto;
        padding: 5px 8px;
        opacity: 1;
    }
}
/*#iconRestaurant {
  background-image: url(../images/restaurant.jpg);
  height: 200px;
}*/



input[type="radio"]{
  display:none;
}
label.reslabel >span{
  display: inline-block;
  width: 151px;
  height:151px;
  background: url(../images/icons/resgoldy.png) 0 center no-repeat;
  background-size: 150px;
}

input[type="radio"]#restaurant:checked +label.reslabel > span{
  background-image:  url(../images/icons/res.png);
  opacity: 0.5;
}

label.caflabel >span{
  display: inline-block;
  width: 151px;
  height:151px;
  background: url(../images/icons/cafegoldy.png) 0 center no-repeat;
  background-size: 150px;
}

input[type="radio"]#cafe:checked +label.caflabel > span{
  background-image:  url(../images/icons/cafe.png);
  opacity: 0.5;
}

label.barlabel >span{
  display: inline-block;
  width: 151px;
  height:151px;
  background: url(../images/icons/bargoldy.png) 0 center no-repeat;
  background-size: 150px;
}

input[type="radio"]#bar:checked +label.barlabel > span{
  background-image:  url(../images/icons/bar.png);
  opacity: 0.5;
}

label.mix >span{
  display: inline-block;
  width: 151px;
  height:151px;
  background: url(../images/icons/allgoldy.png) 0 center no-repeat;
  background-size: 150px;
}

input[type="radio"]#all:checked +label.mix > span{
  background-image:  url(../images/icons/allblack.png);
  opacity: 0.5;
}


/*checkbox toggle class*/
.wifiID{
  display: block;
  width: 151px;
  height:151px;
  background: url(../images/icons/foodicons/Wifi.png) 0 center no-repeat;
  background-size: 150px;
}

.nosmoker{
  display: block;
  width: 151px;
  height:151px;
  background: url(../images/icons/foodicons/NonSmoker.png) 0 center no-repeat;
  background-size: 150px;
}

.smoker{
  display: block;
  width: 151px;
  height:151px;
  background: url(../images/icons/foodicons/smoker.png) 0 center no-repeat;
  background-size: 150px;
}

.smoker.checked, .veggie.checked, .nosmoker.checked, .wifiID.checked, .vegan.checked, .breakfast.checked, .glutenfree.checked, .delivery.checked, .lunch.checked, .garden.checked{
  opacity: 0.5;
}

.veggie{
  display: block;
  width: 151px;
  height:151px;
  background: url(../images/icons/foodicons/veggie.png) 0 center no-repeat;
  background-size: 150px;
}

.vegan{
  display: block;
  width: 151px;
  height:151px;
  background: url(../images/icons/foodicons/vegan.png) 0 center no-repeat;
  background-size: 150px;
}

.breakfast{
  display: block;
  width: 151px;
  height:151px;
  background: url(../images/icons/foodicons/Breakfast.png) 0 center no-repeat;
  background-size: 150px;
}
.glutenfree{
  display: block;
  width: 151px;
  height:151px;
  background: url(../images/icons/foodicons/glutenfree2.png) 0 center no-repeat;
  background-size: 150px;
}
.delivery{
  display: block;
  width: 151px;
  height:151px;
  background: url(../images/icons/foodicons/delivery.png) 0 center no-repeat;
  background-size: 150px;
}
.garde{
  display: block;
  width: 151px;
  height:151px;
  background: url(../images/icons/foodicons/gastgarten.png) 0 center no-repeat;
  background-size: 150px;
}
.lunch{
  display: block;
  width: 151px;
  height:151px;
  background: url(../images/icons/foodicons/lunch.png) 0 center no-repeat;
  background-size: 150px;
}





/* END NAVBAR 2nd TRY */
