:root {
  --bluedark: #ade5d8;
  --bluelight: #ffcca1;
  --goldy: #fccda0;
  --grey: #0a0f10;
  --white: #ffffff;
}

#navbarmobile {
  background-color: var(--grey);
  padding: 10px;
  color: var(--goldy);
  text-align: right;
  width: 130vw;
  position: fixed;
  z-index: 4;
}

/* wenns groß is */
@media only screen and (min-width: 900px) {
  #navbarMobile {
    display: none;
  }

}

/* wenns klein is */

@media only screen and (max-width: 900px) {
  #navbarDesktop {
    display: none;
  }
  /*
  .hiddenMobile {
    display: none;
  }*7


  #imgLogoMobile {
    width: 40px;
    margin-left: 30%;
  }
  #drpbtn {
    margin-left: 10%;
  }
}

i {
  color: var(--goldy);
}

#drpbtn {
  background-color: transparent;
  color: var(--grey);
  border: none;
  border-radius: 0;
}

#drpbtn:focus {
  outline: none !important;
  box-shadow: none;
}

.dropdown-menu {
  background-color: var(--grey);
  color: var(--goldy);
  border-radius: 0;
  z-index: 99;
  width: 100vw;
  padding: 10%;
  margin-left: -3vw;
  text-align: center;
}

.dropdown a:hover {
  text-decoration: underline;
}

.dropdown li {
  margin-top: 2vw;
  margin-bottom: 2vw;
}
