@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
  --blue:#ade5d8;
  --orange:#ffcca1;
}


  body {
      font: 20px;
      line-height: 1.8;
  }

  #logo {
    margin-left: 50px;
    margin-right: 50%;

  }

  .container {
    float: center;
    text-align: center;
    color: --blue;
    padding: 10px;
  }

.firstrowbuttons {
    float:left;
    display: inline-block;
    list-style-type:none;
    margin-right:15px;
}
