:root {
  --bluedark: #ade5d8;
  --bluelight: #ffcca1;
  --goldy: #fccda0;
  --grey: #0a0f10;
  --white: #ffffff;
}

.suggestion {
  background-image: url(../images/bg1.jpg);
  background-image: url({{ imagelink }});
  background-repeat: no-repeat;
  height: 150px;
  /*margin: 0.5%;*/
}
 .title {
   margin-top: 20%;
 }

#listChecked {
  text-align: right;
}

.gone {
  opacity: 0.3;
}
